.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.printFont {
  text-shadow: 1px 0 black;
  letter-spacing: 1px;
  font-weight: 900;
}

table.print {
  font-size: 18px;
  text-align: center;
  border-collapse: collapse;
}


table{
  border-collapse: collapse;
  width: 350px; 	
  /*自動斷行*/
  word-wrap: break-word;
  table-layout: fixed;
}

.ag-header-cell-text {
  width: 100%;
}

.ag-root-wrapper {
  border-radius: 30px;
}

.btn {
  margin: 10px;
  width: 100px;
}
